.joiningParent {
  text-align: center;
  /* padding: 2rem; */
  padding: 100px 0px;
  background-color: #f9f9f9;
}

.innerJoining {
  margin-bottom: 2rem;
}

.innerJoining h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.innerJoining h3 {
  font-size: 1rem;
  color: #666;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.feature {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 3.5rem 1.5rem;
  width: 700px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.feature .icon {
  font-size: 2rem;
  color: #6c63ff;
  margin-bottom: 1rem;
  text-align: center;
}

.feature h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.feature p {
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}
.feature img {
  width: 70px;
  height: 70px;
}

@media all and (max-width: 750px) {
  .feature {
    width: 95vw;
  }
}
